{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-home">

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
          {% if pages|length > 1 %}
            {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
          {% endif %}
    </div>
</header>

<div class="gallery-page wrapper clearfix">
  {{widget('gallery', 'homepagegallery', 
  {'showDescription': true,
  'showTitle': true,
  'images':
  [
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/1.jpg'), 'title':'City Lights', 'description': 'A city under the clouds.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/2.jpg'), 'title':'Misty Mountain', 'description': 'Early in the morning.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/3.jpg'), 'title':'Mountain Lake', 'description': 'On a windy day.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/4.jpg'), 'title':'Endless Ocean', 'description': 'To the horizon and beyond.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/5.jpg'), 'title':'Vocano Fountains', 'description': 'A magical glow at night.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/6.jpg'), 'title':'Green Hills', 'description': 'Dusted with a sprinkling of clouds.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/7.jpg'), 'title':'Beach Path', 'description': 'For a day of bathing.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/8.jpg'), 'title':'Hidden Canyon', 'description': 'A great hike all around.'},
  {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/9.jpg'), 'title':'Forested Ocean', 'description': 'For some nice stunts.'}
  ]
  })|raw}}
</div>

<div class="main wrapper clearfix">
 {{zone('main')|raw}}
</div>  

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
           <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
           </div>
           <div class="column columns-two-right">
                 {{widget('content', 'footercolumn2content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
           </div>
        </div>
    </div>
</footer>

</div>

{% endblock %}